.bg{
	background-image: url(clown.jpg);
}
.verh {
	height: 70px;
}
.pervoe {
	height: 100px;
}
.men {
	height: 73px;
}
.hie {
	height: 63px;
}
.polper {
	height: 50px;
}
.vtor {
	height: 879px;
}
.vtororo {
	height: 450px;
}
.vtorororo {
	margin-top: 15px;
	height: 400px;
}
.tret {
	height: 239px;
	margin-top: 10px;
}
.podtret {
	height: 200px;
	margin-top: 40px;
}
.marleft {
	margin-left: 10px;
}